/**
 * @description Styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
body {
  --primary-color: hsl(300, 100%, 25%);
}

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  background-color: var(--primary-color);
}
